@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/* ========== START Dark Mode Colors ========== */
:root {
    --primary-background: #181a1b;
    --secondary-color: #2b2f31;
    --blue: #004daa;
    --text-color: #d8d4cf;
    --caption-color: #e8e6e3;
    --main-font: 'Montserrat', sans-serif;
}

.dropdown-menu {
    width: 300px;
    height: 50px;
    border-radius: 24px;
    background-color: var(--primary-background);
    color: var(--text-color);
    border: 1px solid black;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;
}

.dropdown-text {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 22px;
    font-weight: 10;
    margin-right: auto;
    flex: 1;
    padding-left: 12px;
}

.unselected {
    color: rgba(255, 255, 255, 0.486);
}

.selected {
    color: var(--text-color);
}

.dropdown-menu-img {
    width: 64px;
    height: 64px;
    background: url('./assets/down-white.png');
    transition: background 400ms ease-in-out;
    cursor: pointer;
}

.dropdown-menu:hover .dropdown-menu-img {
    width: 64px;
    height: 64px;
    background: url('./assets/down-blue.png');
}

.dropdown-menu:active .dropdown-menu-img {
    transform: translateY(2px);
}

p.option {
    color: black;
    font-size: 18px;
    width: 300px;
    height: 50px;
    border-radius: 24px;
    background-color: var(--primary-background);
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

    transition: background-color 400ms ease-in-out;
}

p.option:hover {
    background-color: #004daa;
    color: white;
}

p.hidden {
    display: none;
}

p.shown {
    display: flex;
    position: absolute;
}
